
.contenedor2{
    background-image: url("img/1400x873-Anime-Nubes-Cielo-Fondo-de-Pantalla-HD-ESCRITORIO-Y-MOVIL.jpg");
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    opacity: .8;
    
}

.contenedor1{
    background-color: rgba(255, 255, 255, .7);
    width: 60%;
    margin: 0 auto;
    text-align: center;
    
}

    .prueba{
        border: 1em 2em;
        color: #feeba9;
        text-shadow: #000000 0.1em 0.1em 0.1em;
    }

    .cajaMisteriosa{
        width: 40%; 
    }
#boton{
    background-color: #2a3c6e;
    color: white;
    padding: .5em;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: rgb(170, 170, 170);
    border-left-color: rgb(129, 129, 129);
    transition: .3s;
}

#boton:hover{
    background-color: white;
    color: black;
    transition: .6s;
}

.img{
    width: 100%;
}
